*.gem
*.rbc
.bundle
*.so
*.o
*.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*dbfadd*
*dbfcreate*
*dbfdump*
*shpadd*
*shpcreate*
*shpdump*
*shprewind*
*shptest*
*shptreedump*
ext/shp/Makefile
test/testfile*
ext/shp/mkmf.log
